@page
@model App2022.Pages.IndexModel
@{
}
<head>
    <title>App 2022</title>
</head>
<body>
    <!-- hero -->
    <header class="hero">
        <div class="banner">
            <h1 class="banner-title">welcome</h1>
            <p>
                This is an example web site for myself to practice and demonstrate my web development skills!<br />
                Here you can use a virtual keyboard built with JavaScript by clicking inside this text area below:
            </p>
            <textarea class="use-keyboard-input"></textarea>
            <br /><br /><br />
            <p>Once you're bored of that, click below to head to the shop area!</p>
            <a href="/shop"><button class="banner-btn">shop now!</button></a>
        </div>
    </header>
    <!-- end of hero -->
</body>