@page
@model App2022.Pages.ShopModel
@{
}
<head>
    <title>App 2022</title>
</head>
<body>
    <!-- products -->
    <section class="products">
        <div class="section-title">
            <h2>2022 Vehicles</h2>
        </div>
        <div class="products-center">
        </div>
    </section>
    <!-- end of products -->
</body>